#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // F2.3: gut unterscheidbare Standardtasten fuer OS-Schaltersteuerung.
            // Buchse 8: kurz = Pfeil runter, halten = Wartungsebene.
            bindings = <
                &kp SPACE  &kp RET    &kp TAB    &kp ESC
                &kp LEFT   &kp RIGHT  &kp UP     &lt 1 DOWN
            >;
        };

        maintenance_layer {
            // Wartung: Buchse 8 halten, dann eine dieser Funktionen druecken.
            // 1 = Pairing des aktiven Profils neu starten
            // 2/3 = BLE-Profil wechseln
            // 4 = alle BLE-Kopplungen loeschen
            // 7 = Bootloader fuer neues Flashen
            bindings = <
                &bt BT_CLR      &bt BT_NXT  &bt BT_PRV  &bt BT_CLR_ALL
                &none           &none       &bootloader &trans
            >;
        };
    };
};

