#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // F2.3: gut unterscheidbare Standardtasten fuer OS-Schaltersteuerung.
            // Buchse 8: kurz = Pfeil runter, halten = Wartungsebene.
            bindings = <
                &kp SPACE  &kp RET    &kp TAB    &kp ESC
                &kp LEFT   &kp RIGHT  &kp UP     &lt 1 DOWN
            >;
        };

        maintenance_layer {
            // Wartung: Buchse 8 halten, dann eine dieser Funktionen druecken.
            // 1 = Pairing neu starten (alle Bonds loeschen)
            // 2/3 = BLE-Profil wechseln
            // 4 = LED blau (Pairing-Hinweis)
            // 5 = LED gruen (manuell: verbunden/OK)
            // 6 = LED aus
            // 7 = Bootloader fuer neues Flashen
            bindings = <
                &bt BT_CLR_ALL                  &bt BT_NXT                     &bt BT_PRV  &rgb_ug RGB_COLOR_HSB(240,100,20)
                &rgb_ug RGB_COLOR_HSB(128,100,20)  &rgb_ug RGB_OFF             &bootloader &trans
            >;
        };
    };
};

